version: '3.8'

services:
  # Frontend React
  frontend:
    image: ghcr.io/guilhermerodrigues-10/gv-marketing-frontend:latest
    networks:
      - GovisaNet
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
      labels:
        - traefik.enable=true
        - traefik.http.routers.gv_marketing_frontend.rule=Host(`tasks.gvmarketing.us`)
        - traefik.http.routers.gv_marketing_frontend.entrypoints=websecure
        - traefik.http.routers.gv_marketing_frontend.priority=1
        - traefik.http.routers.gv_marketing_frontend.tls.certresolver=letsencryptresolver
        - traefik.http.routers.gv_marketing_frontend.service=gv_marketing_frontend
        - traefik.http.services.gv_marketing_frontend.loadbalancer.server.port=80
        - traefik.http.services.gv_marketing_frontend.loadbalancer.passHostHeader=1

  # Backend Node.js
  backend:
    image: ghcr.io/guilhermerodrigues-10/gv-marketing-backend:latest
    networks:
      - GovisaNet
    environment:
      - NODE_ENV=production
      - PORT=3001
      - FRONTEND_URL=https://tasks.gvmarketing.us
      - JWT_SECRET=9b1af44452364c0ef77cf19d7b0fb495868320c2f7f31bf98ed8a00c5a9dc08b6aef35e6db6ef407daed9025c4b948128dbe685f48d91679c6885ccdb5639bda
      - JWT_EXPIRES_IN=7d
      - DB_HOST=aws-0-us-west-2.pooler.supabase.com
      - DB_PORT=6543
      - DB_NAME=postgres
      - DB_USER=postgres.hywyqckkahlxevvtzkfw
      - DB_PASSWORD=1N6sup0mk3x5R0ym
      - SUPABASE_URL=https://hywyqckkahlxevvtzkfw.supabase.co
      - SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh5d3lxY2trYWhseGV2dnR6a2Z3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU0MDAyMTUsImV4cCI6MjA4MDk3NjIxNX0.Gc8rHZfSIWVNiyUP43eRqCLD6i80CPS7YiiZct0rmHg
      - ADMIN_EMAIL=admin@gvmarketing.com
      - ADMIN_PASSWORD=GVMarketing2024!@Secure
      - DROPBOX_REFRESH_TOKEN=UXuPML8aFvYAAAAAAAAAAfNgBa8k3PlghrYAxpyRHAVk7aJMy4founTBw_XCvQ8a
      - DROPBOX_APP_KEY=d6u9yrsqta09qob
      - DROPBOX_APP_SECRET=nk875r7wz8ttvuz
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
      labels:
        - traefik.enable=true
        - traefik.http.routers.gv_marketing_backend.rule=Host(`tasks.gvmarketing.us`) && (PathPrefix(`/api`) || PathPrefix(`/socket.io`))
        - traefik.http.routers.gv_marketing_backend.entrypoints=websecure
        - traefik.http.routers.gv_marketing_backend.priority=100
        - traefik.http.routers.gv_marketing_backend.tls.certresolver=letsencryptresolver
        - traefik.http.routers.gv_marketing_backend.service=gv_marketing_backend
        - traefik.http.services.gv_marketing_backend.loadbalancer.server.port=3001
        - traefik.http.services.gv_marketing_backend.loadbalancer.server.scheme=http

networks:
  GovisaNet:
    external: true
    name: GovisaNet
