version: '3.8'

services:
  # Frontend React
  frontend:
    build:
      context: https://github.com/guilhermerodrigues-10/gv-marketing.git#main
      dockerfile: Dockerfile.frontend
    container_name: gv-marketing-frontend
    restart: unless-stopped
    networks:
      - GovisaNet
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
      labels:
        - traefik.enable=true
        - traefik.http.routers.gv_marketing_frontend.rule=Host(`tasks.gvmarketing.us`)
        - traefik.http.routers.gv_marketing_frontend.entrypoints=websecure
        - traefik.http.routers.gv_marketing_frontend.priority=1
        - traefik.http.routers.gv_marketing_frontend.tls.certresolver=letsencryptresolver
        - traefik.http.routers.gv_marketing_frontend.service=gv_marketing_frontend
        - traefik.http.services.gv_marketing_frontend.loadbalancer.server.port=80
        - traefik.http.services.gv_marketing_frontend.loadbalancer.passHostHeader=1

  # Backend Node.js
  backend:
    build:
      context: https://github.com/guilhermerodrigues-10/gv-marketing.git#main:backend
      dockerfile: Dockerfile
    container_name: gv-marketing-backend
    restart: unless-stopped
    networks:
      - GovisaNet
    environment:
      - NODE_ENV=production
      - PORT=3001
      - FRONTEND_URL=https://tasks.gvmarketing.us
      - JWT_SECRET=9b1af44452364c0ef77cf19d7b0fb495868320c2f7f31bf98ed8a00c5a9dc08b6aef35e6db6ef407daed9025c4b948128dbe685f48d91679c6885ccdb5639bda
      - JWT_EXPIRES_IN=7d
      - DB_HOST=aws-0-us-west-2.pooler.supabase.com
      - DB_PORT=6543
      - DB_NAME=postgres
      - DB_USER=postgres.hywyqckkahlxevvtzkfw
      - DB_PASSWORD=1N6sup0mk3x5R0ym
      - SUPABASE_URL=https://hywyqckkahlxevvtzkfw.supabase.co
      - SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imh5d3lxY2trYWhseGV2dnR6a2Z3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjU0MDAyMTUsImV4cCI6MjA4MDk3NjIxNX0.Gc8rHZfSIWVNiyUP43eRqCLD6i80CPS7YiiZct0rmHg
      - ADMIN_EMAIL=admin@gvmarketing.com
      - ADMIN_PASSWORD=GVMarketing2024!@Secure
      - DROPBOX_ACCESS_TOKEN=sl.u.AGJ_kKvAK2k9hzh4wYXkyNN7KUV6YBQjo6QhVcpZZ8SLOwuL6dmzMNvfL0CwKiMDCMC2xxNYo5eNXMCtDlb5Hz_3ocx8ukE3VqIS1ZEj3Vn6VD8FleUPFz2uzvJL-psE7D3bZgr7ZQ2JZfLEw60EyhDCT_kvMfvyEVDJjXt66Dc_AFjQ9XCumEiP-ArAh1midcGLBkhBBQ6HmZs6bhySEOs3SRmodrfx4687YBKxwEKJQKYomj1qDBH3RZO3Q9znWkxxpyOrNBn5h7hCK1KTkEyMLYuoThtW3al0xtUkXxaeMKMfmhAKtEPion2dom5_XBQbe8bV8VDwHP2tgYF4zzR3b6r_Gs5GYX-hnaurRx5vK2Th_Q1mSuoBh7Xx0ppHYXT6ZqXdNb-AqM4Jw6okAW1yyZu4rA5POL5jG7wTAcZa4MP2IX7YbNdphoDpkU67nDHmyg6a9BSEDUG1-Tmzy8RVVkH2gbAGTvsEkca_CZGyejCLRmbIDy3sCeoTJ4wVSRcK-bf3g9UbV84Fv0uYrHTt66JrW95w5euU_VDgRq27lRWWYv5IWKcQMnUpnxBVMap4rYiSmFwZ5d_syCApkK3F3xLbgQTxBoLcxSzhMG5JWRN1DdMWyUtx9HvYawShBWBlPEMYBn_3nlhhUaIsJ5Q4XVVLLzImPsv52cEVLEU8ez2vUrCjOY6wH5w_hDiOyRRc0ZpJgIEugl95kLRJh0Jc_br3zwPvKKpyaGXhCfQbx8XjXs_093Y8l0itIbEBcWkrH1rFT4tahwCGnAKvMntOzBOv8OzyVHpArageP2KqRFVYxWmgvmzCp4lYug03rzzAfMHmhyCn2KrwrhGXohDCjBRI2UaAswM5De3or6c0Rady_AoLpXmYhLyEPqZUtU-BPsJv5yIPPNnHENPzKppPNy50LKvTHR94jZxtRnSjCXKWhg2px7hyKNdaFkTn66a36gWVGXLZW9dJ8abNhHqajq49Ep9rnzcgCPSC-eCO8BRHeaxTUgEk-pI1ZKHYvoXLuyGu1orKsugIxaT500lqw8Rtcj5DC6K1H7YkJv1KVbXquLkXj0oH1qKOJBz7YJNsQJcNsoFxPN4QUXzeS1p6N2aI-ji4b4W2WOLXYkS9XgnJmdU-8tuNoWaTlgK33RhO4vhKaon63VW-YcEqHQTSbsVvTOomqXO3zeV5aOosZYM20c0UA2O-jNW37JITkvygJ70jj3skCmlYmdPt9OHNNLR_r6-2EZ3ImqJVnbDxkLhuvydZ5MNpKPn3Uy0MFvIJTiZkiraX6uMmt_I0rzgNYC1wIGb9unz8SEXUXNKFfDp6jolaNeYvWdvvbqRq0q8W7r6Q6juhBg7rbSNuqqwnIZCrzL6ZVmSEmBcTIenSHcvkwV3xhpMVM-N-o96kWani7bGw39viJ6mR4-nEVVTuxqgKUFJeToWEGStJSIDRu5qP6v-ux2mzNAIZPf5bCYKvYySfuv1P6YRBebV2OpOIwDqmUK1eLMijSDND-dRaiWrcx8MUDCD_gJSIg_xJ3_I
    deploy:
      mode: replicated
      replicas: 1
      placement:
        constraints:
          - node.role == manager
      resources:
        limits:
          cpus: "0.5"
          memory: 512M
      labels:
        - traefik.enable=true
        - traefik.http.routers.gv_marketing_backend.rule=Host(`tasks.gvmarketing.us`) && PathPrefix(`/api`,`/socket.io`)
        - traefik.http.routers.gv_marketing_backend.entrypoints=websecure
        - traefik.http.routers.gv_marketing_backend.priority=2
        - traefik.http.routers.gv_marketing_backend.tls.certresolver=letsencryptresolver
        - traefik.http.routers.gv_marketing_backend.service=gv_marketing_backend
        - traefik.http.services.gv_marketing_backend.loadbalancer.server.port=3001
        - traefik.http.services.gv_marketing_backend.loadbalancer.passHostHeader=1

networks:
  GovisaNet:
    external: true
    name: GovisaNet
